<%- include('partials/header') %>

<main>
    <h1>Erreur 404</h1>
    <p>La page que vous recherchez n'existe pas. Retournez à <a href="/">l'accueil</a>.</p>
</main>

<%- include('partials/footer') %>