<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<%- include('partials/header') %>
<body>
    <main id="user-management" class="main-container">
        <h1 class="page-title"><%= title %></h1>
        <!-- Formulaire pour ajouter un utilisateur -->
        <div class="section-container">
            <h2 class="section-title">Ajouter un Utilisateur</h2>
            <form id="addUserForm" class="form-container user-form">
                <label for="name" class="form-label">Nom :</label>
                <input type="text" id="name" class="form-input" required>
                
                <label for="firstname" class="form-label">Prénom :</label>
                <input type="text" id="firstname" class="form-input" required>
                
                <label for="email" class="form-label">Email :</label>
                <input type="email" id="email" class="form-input" required>
                
                <label for="password" class="form-label">Mot de passe :</label>
                <input type="password" id="password" class="form-input" required>
                
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </form>
        </div>

        <!-- Liste des utilisateurs -->
        <div class="section-container">
            <h2 class="section-title">Liste des Utilisateurs</h2>
            <table class="table user-table">
                <thead class="table-head">
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="usersTableBody" class="table-body">
                    <!-- Les utilisateurs seront chargés ici -->
                </tbody>
            </table>
        </div>

        
    </main>

    <script src="/static/js/user.js"></script>
</body>
<%- include('partials/footer') %>
</html>